.body {
  height: 100px;
  width: 100%;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
}

.header img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 35px;
}

.header .name {
  text-align: left;
  font-size: 50px;
  font-weight: 600;
}

.header .title {
  font-size: 23px;
  font-weight: 500;
  color: grey;
  margin-top: 10px;
}

.body .content {
  width: 50vw;
  box-sizing: border-box;
  border-left: solid lightgrey 2.5px;
  padding: 10px 0 10px 25px;
  margin-top: 65px;
  font-size: 19px;
  line-height: 32px;
  text-align: justify;
}

.content p {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.content p span {
  font-weight: 600;
  cursor: pointer;
}

.content .socials {
  height: 20px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content img {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
