/* .App::-webkit-scrollbar {
  display: none;
} */

.App .content_body {
  box-sizing: border-box;
  padding: 100px 200px 0 150px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
